# Ignore the configuration file
config.php
.htaccess
Makefile

# Ignore temporary file
tmp/*

# Ignore upload folder
upload/*

# Ignore everything in db/
db/*
!db/schema.sql
!db/seeds.sql
!db/buildings.geojson