# ignore Bootstrap and jQuery
assets/*/bootstrap* linguist-vendored
assets/*/jquery* linguist-vendored
assets/fonts/* linguist-vendored
assets/*/dropzone* linguist-vendored
assets/*/selectize* linguist-vendored

# ignore Slim framework
vendor/* linguist-vendored
