html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 90px;
}

body > .container {
	/* Make padding after nav bar */
	padding: 54px 15px 0;
}

.login-panel {
	margin-top: 80px;
}

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eeeeee;
}

.footer {
	position: absolute;
	padding: 20px 0 20px;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 90px;
	background-color: #f5f5f5;
}

/* intro banner */

.intro-header {
	padding-top: 60px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background: url(../img/intro-bg.jpg) no-repeat center center;
	background-size: cover;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	color: #f8f8f8;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 5em;
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
	color: #f8f8f8;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

/* home page sections */

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	padding: 50px 0;
	background-color: #f8f8f8;
}

.content-section-b {
	padding: 50px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	float: left;
	width: 200px;
	border-top: 3px solid #e7e7e7;
}

/* banner and share button */

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	color: #f8f8f8;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media(max-width:1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}
}

@media(max-width:767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}
}

/* panel for student */

.student {
	min-height: 260px;
}

.student ul {
    padding: 0;
    list-style-type: none;
}

.student address {
	padding-left: 40px;
}

/* Style for Map */
#large-map {
	height: 600px;
	min-height: 600px;
	margin-bottom: 20px;
}

#small-map {
	height: 400px;
	min-height: 400px;
	margin-bottom: 20px;
}

/* Style for dropzone */
.dropzone {
	background: inherit;
	border: 2px dashed #888;
	border-radius: 8px;
}
.dropzone .dz-preview.dz-image-preview {
	background: inherit;
}

/* Avatar! */
img.avatar {
	height: 25px;
	width: 25px;
}

img.large-avatar {
	max-width: 100%;
}

img.eventdetail {
	max-width: 100%;
}

img.emoji {
	height: 30px;
	width: 30px;
}

.sidebar .label {
	font-size: 110%;
}

.sidebar .btn-huge {
	line-height: 14px;
	min-width: 100%;
	font-size: 16px;
}
